.basic-form-container{
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: rgb(248, 138, 4);
}

.btn-primary{
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration-color: bisque;
}